<div class="recommendation">
  <h1>Recommendation</h1>
  <p>What: <%= @recommendation.title %></p>
  <p>Where: <%= @recommendation.location %></p>
  <p>From: <%= @recommendation.recommended_by %></p>
  <p>Notes: <%= @recommendation.notes %></p>
</div>
